@use './scss/' as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

.App {
  background: linear-gradient(
    to bottom,
    $radial-gradient,
    $radial-gradient-bottom
  );

  font-family: $family;
  padding-top: 2.5rem;
  padding-inline: 2rem;
  margin-inline: auto;
  height: calc(100vh - 2.5rem);
}

@include tablet {
  .App {
    height: 100%;
    min-height: calc(100vh - 2.5rem);
  }
}
